<div class="restaurant">
        <a href='<%=restaurant_path(restaurant) %>' class="detail"> 
        </a>
          <div class="absolute rst-thumbnail">
            <img class="thumbnail-img" src="/assets/restaurant-icon.gif">
          </div>

          <div class="absolute restaurant-container">
            <h2 class="restaurant-title"><%= restaurant.name %></h2>
            <div class="lr-location" > <%= restaurant.city.name + ", " + restaurant.zip_code + ", " + restaurant.street %></div>
            <div class="lr-location" > <%= restaurant.phone%></div>
									<% restaurant.restaurant_categories.each do |category| %>
                    <%= link_to category.name, category_path(:id => category.id), :class => 'rst-label' %>
									<% end %>
          </div>
          <div class="rating">
            <img src="/assets/rating_5.png" />
          </div>
      </div>

